.mainContainer {
	margin: 20px 0px 0px 0px;
}

.creativePerson {
	width: max-content;
	margin: 0px 0px 10px 137px;
	color: white;
	font-weight: 400;
}

.problemSolver {
	position: relative;
	width: max-content;
	font-size: 22px;
	margin: 0px 0px 0px 100px;
	color: white;
	z-index: 999;
	background-color: transparent;
}

.problemSolverbkg {
	width: max-content;
	position: relative;
	color: rgba(128, 128, 128, 0.623);
	font-size: 25px;
	transform: scaleX(1.3);
	left: 90px;
	bottom: 20px;
	background-color: transparent;
	z-index: 0;
}

.passion {
	margin: -10px 0px 0px 65px;
	color: white;
	font-weight: 400;
}

.pcIMG {
	margin: 20px 0px 0px 88px;
}

.lowerTextContainer {
	transform: scaleX(0.9);
	margin: 35px 0px 0px 15px;
	text-align: center;
	color: white;
}

.lowerText {
	font-weight: 400;
}

.orangeParticle1 {
	position: absolute;
	background-color: transparent;
	top: 90px;
	left: 290px;
	z-index: 999;
	width: 53px;
	opacity: 0.5;
	transform: rotate(0.25turn);
}

.orangeParticle2 {
	position: absolute;
	opacity: 0.5;
	top: 490px;
	left: 300px;
	background-color: transparent;
	z-index: 1;
}

.orangeParticle3 {
	position: absolute;
	background-color: transparent;
	opacity: 0.5;
	top: 300px;
	left: 40px;
}

.orangeParticle4 {
	display: none;
}

.purpleParticle1 {
	background-color: transparent;
	position: absolute;
	opacity: 0.2;
	bottom: 470px;
	left: 300px;
}

.purpleParticle2 {
	background-color: transparent;
	position: absolute;
	top: 510px;
	left: 50px;
	opacity: 0.4;
	z-index: 1;
}

.purpleParticle3 {
	background-color: transparent;
	position: absolute;
	left: 40px;
	top: 100px;
}

.projectsContainer {
	margin: 100px 0px 0px 110px;
	color: white;
	text-decoration: underline 1px;
	text-underline-offset: 10px;
}

@media only screen and (orientation: landscape) {
	.topTextContainer {
		margin: 50px 0px -20px 300px;
	}

	.lowerTextContainer {
		width: 50%;
		margin: -100px 0px 0px 390px;
	}

	.orangeParticle2 {
		top: 100px;
		left: 700px;
	}

	.purpleParticle2 {
		left: 630px;
		top: 230px;
	}
}

@media only screen and (min-width: 600px) {
	.topTextContainer {
		margin: 100px 0px 0px 320px;
		transform: scale(1.2);
	}

	.pcIMG {
		width: 340px;
		margin: -20px 0px 40px 0px;
		background-color: transparent;
	}

	.lowerTextContainer {
		width: 50%;
		margin: -150px 0px 0px 375px;
		transform: scale(1.1);
		background-color: transparent;
	}
	.orangeParticle1 {
		top: 40px;
		left: 300px;
	}

	.orangeParticle2 {
		left: 660px;
		top: 180px;
	}

	.orangeParticle3 {
		left: 300px;
		top: 450px;
	}

	.purpleParticle1 {
		left: 600px;
		top: 300px;
	}
	.purpleParticle2 {
		left: 350px;
		top: 250px;
	}

	.purpleParticle3 {
		left: 100px;
	}
}

@media only screen and (min-width: 992px) {
	.mainContainer {
		margin: 100px 0px 0px 0px;
	}

	.passion {
		font-size: 30px;
	}

	.creativePerson {
		font-size: 30px;
		margin: 0px 0px 20px 120px;
	}

	.problemSolverbkg {
		font-size: 40px;
		transform: scaleX(1.7);
	}

	.problemSolver {
		font-size: 40px;
		margin: 0px 0px -10px 90px;
		transform: scaleX(1.1);
	}
	.topTextContainer {
		margin: 0px 0px 0px 300px;
		width: fit-content;
	}

	.pcIMG {
		width: 400px;
		position: absolute;
		margin: 0px 0px 0px 40px;
	}

	.lowerTextContainer {
		width: 50%;
		font-size: 25px;
		margin: 200px 0px 0px 440px;
		text-align: center;
	}

	.orangeParticle1 {
		left: 400px;
		top: 550px;
		background-color: transparent;
	}

	.orangeParticle2 {
		left: 900px;
		top: 100px;
		background-color: transparent;
	}

	.orangeParticle4 {
		display: block;
		position: absolute;
		left: 800px;
		top: 400px;
		background-color: transparent;
		z-index: 1;
	}

	.orangeParticle3 {
		left: 200px;
		background-color: transparent;
	}

	.purpleParticle1 {
		top: 400px;
		left: 650px;
		width: 70px;
		background-color: transparent;
		z-index: 1;
	}
	.purpleParticle2 {
		left: 500px;
		top: 90px;
		width: 80px;
		background-color: transparent;
	}

	.purpleParticle3 {
		opacity: 0.5;
		background-color: transparent;
		z-index: 1;
		top: 250px;
		left: 100px;
	}

	.projectsContainer {
		margin: 0px 0px 0px 700px;
		color: white;
		text-decoration: underline 2px;
		text-underline-offset: 5px;
	}
}

@media only screen and (min-width: 1200px) {
	.lowerTextContainer {
		width: 50%;
		font-size: 25px;
		margin: 200px 0px 0px 550px;
		text-align: center;
	}

	.orangeParticle1 {
		left: 400px;
		top: 550px;
		background-color: transparent;
	}

	.orangeParticle2 {
		left: 990px;
		top: 100px;
		background-color: transparent;
	}

	.orangeParticle4 {
		display: block;
		position: absolute;
		left: 970px;
		top: 400px;
		background-color: transparent;
		z-index: 1;
	}

	.orangeParticle3 {
		left: 200px;
		background-color: transparent;
	}

	.purpleParticle1 {
		top: 400px;
		left: 650px;
		width: 70px;
		background-color: transparent;
		z-index: 1;
	}
	.purpleParticle2 {
		left: 500px;
		top: 90px;
		width: 80px;
		background-color: transparent;
	}

	.purpleParticle3 {
		opacity: 0.5;
		background-color: transparent;
		z-index: 1;
		top: 250px;
		left: 100px;
	}

	.projectsContainer {
		margin: 0px 0px 0px 700px;
		color: white;
		text-decoration: underline 2px;
		text-underline-offset: 5px;
	}
}

@media only screen and (min-width: 1400px) {
	.topTextContainer {
		margin: 0px 0px 0px 500px;
	}

	.pcIMG {
		width: 500px;
		position: absolute;
		margin: 0px 0px 0px 40px;
	}

	.lowerTextContainer {
		width: 50%;
		font-size: 25px;
		margin: 200px 0px 0px 600px;
		text-align: center;
	}

	.orangeParticle1 {
		left: 1200px;
		top: 550px;
		background-color: transparent;
	}

	.orangeParticle2 {
		left: 900px;
		top: 100px;
		background-color: transparent;
	}

	.orangeParticle4 {
		display: block;
		position: absolute;
		left: 1000px;
		top: 400px;
		background-color: transparent;
		z-index: 1;
	}

	.orangeParticle3 {
		left: 200px;
		background-color: transparent;
	}

	.purpleParticle1 {
		top: 400px;
		left: 650px;
		width: 70px;
		background-color: transparent;
		z-index: 1;
	}
	.purpleParticle2 {
		left: 500px;
		top: 90px;
		width: 80px;
		background-color: transparent;
	}

	.purpleParticle3 {
		opacity: 0.5;
		background-color: transparent;
		z-index: 1;
		top: 250px;
		left: 100px;
	}

	.projectsContainer {
		margin: 0px 0px 0px 700px;
		color: white;
		text-decoration: underline 2px;
		text-underline-offset: 5px;
	}
}
