/*Parent container of all divs*/

.mainContainer {
  margin: 15em 0em 0em 0em;
  display: flex;
}

/*the only image used on this component */
.aboutIMG {
  margin: 0em 5em 0em 7em;
}

/*From here to the bottom is all the text of the component*/

.introductionContainer {
  margin: 2em 0em 0em 0em;
}

.introTitle {
  margin: 0px 0px 30px 0px;
  font-size: 45px;
}

.paragraph {
  font-weight: 400;
  color: #534c4ce5;
}

.btn {
  margin: 25px 0px 0px 0px;
  padding: 15px 35px 15px 35px;
  background-color: #6845c1f7;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: not-allowed;
}

@media only screen and (min-width: 992px) {
  .introductionContainer {
    margin: 2em 0em 0em 1em;
  }
}
