.mainContainer {
  margin: 3em -4em 1em 2em;
}

.githubLink:link {
  text-decoration: none;
}

.githubLink:visited {
  text-decoration: none;
}

.githubLink:hover {
  text-decoration: none;
}

.githubLink:active {
  text-decoration: none;
}

.cardContainer:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.cardContainer:hover {
  box-shadow: 7px 7px 20px 8px rgba(0, 0, 0, 0.6);
}

.cardContainer {
  width: 75%;
  height: 100%;
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background-color: rgba(142, 4, 248, 0.023);
}

.title {
  border-bottom: 2px solid rgba(126, 116, 116, 0.368);
  color: rgb(25, 45, 72);
  padding: 5px 0px 5px 10px;
}

.badge {
  width: 70px;
  margin: 0em 0em 0em 0em;
  margin-left: 0.5em;
}

.thirdBadge {
  margin: -1.3em 0em 0em 0.5em;
}

.description {
  color: rgb(105, 92, 92);
  margin: 0em 0em 0em 0.5em;
}

@media only screen and (min-width: 992px) {
  .cardContainer {
    width: 85%;
  }
}
