.mainContainer {
	margin: 3em 0em 1em 5em;
}

.githubLink:link {
	text-decoration: none;
}

.githubLink:visited {
	text-decoration: none;
}

.githubLink:hover {
	text-decoration: none;
}

.githubLink:active {
	text-decoration: none;
}

.cardContainer:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.cardContainer:hover {
	box-shadow: 7px 7px 20px 8px rgba(0, 0, 0, 0.6);
}

.cardContainer {
	width: 85%;
	height: 100%;
	box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.485);
	margin: 0px 0px 0px -10px;
}

.title {
	border-bottom: 2px solid rgba(171, 126, 126, 0.504);
	color: rgba(255, 255, 255, 0.829);
	padding: 5px 0px 5px 10px;
	background-color: rgba(0, 0, 0, 0.485);
	border-radius: 10px;
}

.badge {
	width: 70px;
	margin: 0em 0em 0em 0em;
	margin-left: 0.5em;
	background-color: transparent;
}

.thirdBadge {
	margin: -1.3em 0em 0em 0.5em;
}

.description {
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 20px 0px;
	background-color: transparent;
	border-radius: 10px;
	color: rgba(240, 255, 255, 0.83);
}
