.listContainer {
	display: flex;
	list-style: none;
	gap: 25px;
	width: 100%;
	z-index: 999;
}

li {
	color: white;
	margin: 10px 0px 0px 0px;
}

/*this is to make home next to list items*/

.mainContainer {
	display: flex;
}

/* HOME btn */

.homeContainer {
	background-color: transparent;
	position: relative;
	bottom: 1.8em;
	right: 1em;
}

.homeText {
	position: relative;
	background-color: transparent;
	color: white;
	font-size: 20px;
	top: 40px;
	left: 35px;
	z-index: 1;
	width: max-content;
}

.homeIcon {
	width: 120px;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.unavailable {
	cursor: not-allowed;
}

@media only screen and (max-width: 374px) {
	.listContainer {
		display: flex;
		list-style: none;
		gap: 13px;
		width: 100%;
	}

	li {
		color: white;
		margin: 10px 0px 0px 0px;
	}

	/*this is to make home next to list items*/

	.mainContainer {
		display: flex;
	}

	/* HOME btn */

	.homeContainer {
		background-color: transparent;
		position: relative;
		bottom: 1.8em;
	}
}

@media only screen and (min-width: 768px) {
	.homeContainer {
		position: fixed;
		top: -30px;
	}

	.listContainer {
		display: flex;
		width: 100%;
		list-style: none;
		flex-direction: row-reverse;
		font-weight: 500;
		gap: 70px;
	}
}
