.listContainer {
	display: flex;
	list-style: none;
	gap: 25px;
}

li {
	color: white;
	margin: 10px 0px 0px 0px;
}

/*this is to make home next to list items*/

.mainContainer {
	display: flex;
}

/* HOME btn */

.homeContainer {
	position: relative;
	bottom: 30px;
}

.homeText {
	position: relative;
	background-color: transparent;
	color: white;
	font-size: 20px;
	top: 40px;
	left: 35px;
	z-index: 1;
	width: max-content;
}

.homeIcon {
	position: relative;
	width: 120px;
}
/*
@media only screen and (min-width: 768px) {
	.mainContainer {
		flex-direction: row-reverse;
	}

	.homeContainer {
		margin: 0px 0px 0px 90px;
	}

	.listContainer {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: end;
		list-style: none;
	}

	.listContainer > a {
		margin: -40px 90px 0px 20px;
		font-weight: 500;
		color: white;
	}
}
*/
