.cartoonSelf {
	display: block;
	margin: auto;

	background-color: transparent;
}

.introduction {
	display: block;
	margin: auto;
	background-color: transparent;
}

.helloText {
	position: relative;
	color: white;
	font-size: 33px;
	left: 40px;
	top: 25px;
	z-index: 1;
	background-color: transparent;
}

.lastNameBKG {
	position: relative;
	color: rgba(128, 128, 128, 0.623);
	transform: scaleX(1.7);
	left: 30px;
	background-color: transparent;
	text-decoration: underline black 2px;
	text-underline-offset: 8px;
}

.myName {
	color: white;
	font-size: 30px;
	font-weight: 400;
	margin: 5px 0px 0px 20px;
}

.lastName {
	display: block;
	transform: scaleX(1.2);
	margin: 5px 0px 0px 10px;
	font-weight: 400;
}

.career {
	color: white;
	font-size: 20px;
	margin: 30px 0px 0px -10px;
	background-color: transparent;
}

.getCV {
	background-color: #7246c5;
	padding: 10px 25px 10px 25px;
	border-radius: 20px;
	color: rgb(255, 255, 255);
	font-size: 13px;
	margin: 20px 0px 0px 40px;
	cursor: not-allowed;
}

.helloText,
.lastName,
.lastNameBKG,
.myName,
.career,
.getCV,
.getCV,
.line,
.extraLine,
.introduction {
	width: max-content;
}

/*particles */

.orangeParticle1 {
	position: absolute;
	transform: rotate(90deg);
	margin: 10px 0px 0px 40px;
	opacity: 0.5;
	background-color: transparent;
}

.orangeParticle2 {
	position: absolute;
	top: 600px;
	left: 50px;
	transform: rotate(25deg);
	opacity: 0.5;
	background-color: transparent;
}

.orangeParticle3 {
	position: absolute;
	left: 310px;
	top: 550px;
	transform: rotate(75deg);
	opacity: 0.5;
	background-color: transparent;
}

/* Particles 4-6 are for desktop view */

.orangeParticle4 {
	display: none;
}

.orangeParticle5 {
	display: none;
}

.orangeParticle6 {
	display: none;
}

.purpleParticle1 {
	position: absolute;
	left: 310px;
	top: 150px;
	transform: rotate(280deg);
	opacity: 0.5;
	background-color: transparent;
}

.purpleParticle2 {
	position: absolute;
	top: 520px;
	left: 40px;
	opacity: 0.5;
	background-color: transparent;
}

.purpleParticle3 {
	position: absolute;
	top: 700px;
	left: 280px;
	transform: rotate(410deg);
	opacity: 0.5;
	background-color: transparent;
}

/* particles 4 is for desktop view only */

.purpleParticle4 {
	display: none;
}

@media only screen and (orientation: landscape) {
	.orangeParticle1 {
		left: 120px;
	}

	.orangeParticle2 {
		left: 160px;
		top: 300px;
	}

	.orangeParticle3 {
		top: 80px;
		left: 600px;
	}

	.purpleParticle1 {
		left: 600px;
	}

	.purpleParticle2 {
		left: 200px;
		top: 100px;
	}

	.purpleParticle3 {
		left: 500px;
		top: 300px;
	}
}

@media only screen and (min-width: 600px) {
	.orangeParticle1 {
		left: 100px;
		top: 80px;
	}

	.orangeParticle2 {
		top: 470px;
		left: 120px;
	}

	.orangeParticle3 {
		left: 500px;
	}

	.purpleParticle1 {
		left: 590px;
	}

	.purpleParticle2 {
		top: 300px;
		left: 70px;
	}

	.purpleParticle3 {
		left: 550px;
		top: 300px;
	}
}

@media only screen and (min-width: 992px) {
	.cartoonSelf {
		width: 350px;
		height: 350px;
	}

	.introduction {
		position: relative;
		left: 45px;
		margin: auto;
	}

	.lastNameBKG {
		font-size: 70px;
		margin: 0px 0px 0px -80px;
		text-underline-offset: 13px;
	}

	.lastName {
		display: inline;
	}

	.myName {
		font-size: 35px;
		margin: 10px 0px 0px -55px;
	}
	.helloText {
		font-size: 50px;
		margin: 0px 0px -20px -35px;
	}

	.orangeParticle1 {
		left: 350px;
		opacity: 0.5;
		background-color: transparent;
	}

	.orangeParticle2 {
		left: 100px;
		top: 300px;
		opacity: 0.5;
		background-color: transparent;
	}

	.orangeParticle3 {
		opacity: 0.5;
		background-color: transparent;
		left: 850px;
	}

	.orangeParticle4 {
		display: inline;
		position: absolute;
		left: 850px;
		top: 220px;
		transform: rotate(90deg);
		opacity: 0.5;
		background-color: transparent;
	}

	.orangeParticle5 {
		display: inline;
		position: absolute;
		height: 30px;
		width: 30px;
		left: 750px;
		top: 450px;
		transform: rotate(110deg);
		opacity: 0.5;
		background-color: transparent;
	}

	.orangeParticle6 {
		display: inline;
		position: absolute;
		height: 30px;
		width: 30px;
		left: 450px;
		top: 600px;
		transform: rotate(90deg);
		opacity: 0.5;
		background-color: transparent;
	}

	.purpleParticle1 {
		height: 70px;
		width: 70px;
		top: 300px;
		left: 300px;
		opacity: 0.5;
		background-color: transparent;
	}

	.purpleParticle2 {
		height: 60px;
		width: 60px;
		top: 550px;
		opacity: 0.5;
		background-color: transparent;
		left: 250px;
	}

	.purpleParticle3 {
		position: absolute;
		left: 750px;
		top: 560px;
		transform: rotate(10deg);
		opacity: 0.5;
		background-color: transparent;
	}

	.purpleParticle4 {
		display: inline;
		position: absolute;
		left: 50px;
		transform: rotate(260deg);
		opacity: 0.5;
		background-color: transparent;
	}
}

@media only screen and (min-width: 1200px) {
	.cartoonSelf {
		width: 350px;
		height: 350px;
	}

	.orangeParticle1 {
		left: 350px;
		opacity: 0.5;
		background-color: transparent;
	}

	.orangeParticle2 {
		left: 200px;
		top: 300px;
		opacity: 0.5;
		background-color: transparent;
	}

	.orangeParticle3 {
		opacity: 0.5;
		background-color: transparent;
		left: 950px;
	}

	.orangeParticle4 {
		display: inline;
		position: absolute;
		left: 950px;
		top: 220px;
		transform: rotate(90deg);
		opacity: 0.5;
		background-color: transparent;
	}

	.orangeParticle5 {
		display: inline;
		position: absolute;
		height: 30px;
		width: 30px;
		left: 750px;
		top: 450px;
		transform: rotate(110deg);
		opacity: 0.5;
		background-color: transparent;
	}

	.orangeParticle6 {
		display: inline;
		position: absolute;
		height: 30px;
		width: 30px;
		left: 450px;
		top: 600px;
		transform: rotate(90deg);
		opacity: 0.5;
		background-color: transparent;
	}

	.purpleParticle1 {
		height: 70px;
		width: 70px;
		top: 200px;
		left: 300px;
		opacity: 0.5;
		background-color: transparent;
	}

	.purpleParticle2 {
		height: 60px;
		width: 60px;
		top: 650px;
		opacity: 0.5;
		background-color: transparent;
		left: 250px;
	}

	.purpleParticle3 {
		position: absolute;
		left: 750px;
		top: 560px;
		transform: rotate(10deg);
		opacity: 0.5;
		background-color: transparent;
	}

	.purpleParticle4 {
		display: inline;
		position: absolute;
		left: 50px;
		transform: rotate(260deg);
		opacity: 0.5;
		background-color: transparent;
	}
}

@media only screen and (min-width: 1300px) {
	.cartoonSelf {
		width: 350px;
		height: 350px;
	}

	.orangeParticle1 {
		left: 250px;
		opacity: 0.5;
		background-color: transparent;
	}

	.orangeParticle2 {
		left: 100px;
		top: 300px;
		opacity: 0.5;
		background-color: transparent;
	}

	.orangeParticle3 {
		opacity: 0.5;
		background-color: transparent;
		left: 1050px;
	}

	.orangeParticle4 {
		display: inline;
		position: absolute;
		left: 1070px;
		top: 220px;
		transform: rotate(90deg);
		opacity: 0.5;
		background-color: transparent;
	}

	.orangeParticle5 {
		display: inline;
		position: absolute;
		height: 30px;
		width: 30px;
		left: 750px;
		top: 450px;
		transform: rotate(110deg);
		opacity: 0.5;
		background-color: transparent;
	}

	.orangeParticle6 {
		display: inline;
		position: absolute;
		height: 30px;
		width: 30px;
		left: 450px;
		top: 600px;
		transform: rotate(90deg);
		opacity: 0.5;
		background-color: transparent;
	}

	.purpleParticle1 {
		height: 70px;
		width: 70px;
		top: 200px;
		left: 300px;
		opacity: 0.5;
		background-color: transparent;
	}

	.purpleParticle2 {
		height: 60px;
		width: 60px;
		top: 650px;
		opacity: 0.5;
		background-color: transparent;
		left: 250px;
	}

	.purpleParticle3 {
		position: absolute;
		left: 750px;
		top: 560px;
		transform: rotate(10deg);
		opacity: 0.5;
		background-color: transparent;
	}

	.purpleParticle4 {
		display: inline;
		position: absolute;
		left: 50px;
		transform: rotate(260deg);
		opacity: 0.5;
		background-color: transparent;
	}
}

@media only screen and (min-width: 1400px) {
	.cartoonSelf {
		width: 400px;
		height: 400px;
	}

	.orangeParticle1 {
		left: 350px;
		opacity: 0.5;
		background-color: transparent;
	}

	.orangeParticle2 {
		left: 100px;
		top: 300px;
		opacity: 0.5;
		background-color: transparent;
	}

	.orangeParticle3 {
		opacity: 0.5;
		background-color: transparent;
	}

	.orangeParticle4 {
		display: inline;
		position: absolute;
		left: 1250px;
		top: 220px;
		transform: rotate(90deg);
		opacity: 0.5;
		background-color: transparent;
	}

	.orangeParticle5 {
		display: inline;
		position: absolute;
		height: 30px;
		width: 30px;
		left: 1050px;
		top: 350px;
		transform: rotate(110deg);
		opacity: 0.5;
		background-color: transparent;
	}

	.orangeParticle6 {
		display: inline;
		position: absolute;
		height: 30px;
		width: 30px;
		left: 950px;
		top: 600px;
		transform: rotate(90deg);
		opacity: 0.5;
		background-color: transparent;
	}

	.purpleParticle1 {
		height: 70px;
		width: 70px;
		top: 300px;
		left: 400px;
		opacity: 0.5;
		background-color: transparent;
	}

	.purpleParticle2 {
		height: 60px;
		width: 60px;
		top: 650px;
		opacity: 0.5;
		background-color: transparent;
	}

	.purpleParticle3 {
		position: absolute;
		left: 1300px;
		top: 560px;
		transform: rotate(10deg);
		opacity: 0.5;
		background-color: transparent;
	}

	.purpleParticle4 {
		display: inline;
		position: absolute;
		left: 1000px;
		transform: rotate(260deg);
		opacity: 0.5;
		background-color: transparent;
	}
}
