.cartoonSelf {
	margin: 0px 0px 0px 50px;
}

.introduction {
	margin: 10px 0px 0px 110px;
}

.helloText {
	color: white;
	position: relative;
	margin: 0px 0px 0px 50px;
	background-color: transparent;
	font-weight: 800;
}

.lastNameBKG {
	color: #626166;
	font-size: 50px;
	margin: -25px 0px 0px 0px;
}

.line {
	font-size: 30px;
	margin: -15px 0px -8px 0px;
}

.myName {
	color: white;
	font-weight: 300;
	font-size: 30px;
	margin: 0px 0px 0px 30px;
}

.lastName {
	color: white;
	font-weight: 300;
	font-size: 30px;
	margin: 0px 0px 0px 30px;
}

.career {
	color: white;
	font-weight: 500;
	font-size: 20px;
	margin: 25px 0px 0px 0px;
}

.getCV {
	width: 40%;
	color: white;
	background-color: #6139bf;
	padding: 15px 0px 15px 34px;
	border-radius: 30px;
	margin: 25px 0px 0px 30px;
}

/*particles */

.orangeParticle1 {
	position: absolute;
	transform: rotate(90deg);
	margin: 0px 0px 0px 40px;
}

.orangeParticle2 {
	position: absolute;
	top: 790px;
	left: 50px;
	transform: rotate(25deg);
}

.orangeParticle3 {
	position: absolute;
	left: 350px;
	top: 550px;
	transform: rotate(75deg);
}

.purpleParticle1 {
	position: absolute;
	left: 310px;
	top: 150px;
	transform: rotate(280deg);
}

.purpleParticle2 {
	position: absolute;
	top: 540px;
	left: 80px;
}

.purpleParticle3 {
	position: absolute;
	top: 760px;
	left: 280px;
	transform: rotate(410deg);
}
